<mat-sidenav-container>

    <!-- Menu -->
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <mat-list-item>
                <a>
                    <i class="material-icons v-middle">
                        home
                    </i>
                    Home
                </a>
            </mat-list-item>
            <mat-list-item>
                <a>
                    <i class="material-icons v-middle">
                        storefront
                    </i>
                    Products
                </a>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <!-- Shiftable content -->
    <mat-sidenav-content class="content">
        <app-home></app-home>
    </mat-sidenav-content>

</mat-sidenav-container>