<mat-card class="card">
    <mat-card-title>Delete Product</mat-card-title>

    <form>
        <mat-form-field>
            <input matInput name="name" placeholder="Nome" [value]="product.name"
            disabled="true">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="price" placeholder="Price ($)" [value]="product.price"
            disabled="true">
        </mat-form-field>
    </form>

    <span>

        <button mat-raised-button (click)="deleteProduct()" color="warning">
            Delete
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancel
        </button>
    </span>
</mat-card>